# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [275]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

## Regression Model Evaluation

In [276]:
column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
data = pd.read_csv('housing.csv', header=None, delimiter=r"\s+", names=column_names)

In [277]:
"""
CRIM - per capita crime rate by town
ZN - proportion of residential land zoned for lots over 25,000 sq.ft.
INDUS - proportion of non-retail business acres per town.
CHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)
NOX - nitric oxides concentration (parts per 10 million)
RM - average number of rooms per dwelling
AGE - proportion of owner-occupied units built prior to 1940
DIS - weighted distances to five Boston employment centres
RAD - index of accessibility to radial highways
TAX - full-value property-tax rate per $10,000
PTRATIO - pupil-teacher ratio by town
B - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
LSTAT - % lower status of the population
MEDV - Median value of owner-occupied homes in $1000's"""

"\nCRIM - per capita crime rate by town\nZN - proportion of residential land zoned for lots over 25,000 sq.ft.\nINDUS - proportion of non-retail business acres per town.\nCHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)\nNOX - nitric oxides concentration (parts per 10 million)\nRM - average number of rooms per dwelling\nAGE - proportion of owner-occupied units built prior to 1940\nDIS - weighted distances to five Boston employment centres\nRAD - index of accessibility to radial highways\nTAX - full-value property-tax rate per $10,000\nPTRATIO - pupil-teacher ratio by town\nB - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\nLSTAT - % lower status of the population\nMEDV - Median value of owner-occupied homes in $1000's"

In [278]:
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [279]:
# Your code here :
from sklearn.model_selection import train_test_split
X = data.drop('MEDV', axis=1)
y = data['MEDV']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=345)

In [280]:
y_train.value_counts()

MEDV
50.0    15
25.0     8
22.0     7
23.1     6
19.4     6
        ..
12.0     1
32.5     1
9.7      1
36.5     1
16.3     1
Name: count, Length: 197, dtype: int64

In [281]:
y_test.value_counts()

MEDV
21.7    4
20.6    3
15.0    3
20.3    2
20.0    2
       ..
31.6    1
30.7    1
24.2    1
27.5    1
43.8    1
Name: count, Length: 84, dtype: int64

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [282]:
# Your code here :
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
y_pred_train = model.predict(X_train)
y_pred_test = model.predict(X_test)

## 3. Calculate and print R-squared for both the training and the testing set.

In [283]:
# Your code here :
from sklearn.metrics import r2_score
r2_train = r2_score(y_train, y_pred_train)
r2_test = r2_score(y_test, y_pred_test)
print(f'R-squared for training set: {r2_train}')
print(f'R-squared for testing set: {r2_test}')

R-squared for training set: 0.7313848861997954
R-squared for testing set: 0.7609804736290042

## 4. Calculate and print mean squared error for both the training and the testing set.

In [284]:
# Your code here :
from sklearn.metrics import mean_squared_error
mse_train = mean_squared_error(y_train, y_pred_train)
mse_test = mean_squared_error(y_test, y_pred_test)
print(f'Mean squared error for training set: {mse_train}')
print(f'Mean squared error for testing set: {mse_test}')

Mean squared error for training set: 22.476819796763582
Mean squared error for testing set: 20.777809367613155

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [285]:
# Your code here :
from sklearn.metrics import mean_absolute_error
mae_train = mean_absolute_error(y_train, y_pred_train)
mae_test = mean_absolute_error(y_test, y_pred_test)
print(f'Mean absolute error for training set: {mae_train}')
print(f'Mean absolute error for testing set: {mae_test}')

Mean absolute error for training set: 3.3089269322235286
Mean absolute error for testing set: 3.556901851256575

## Classification Model Evaluation

In [286]:
from sklearn.datasets import load_iris
data = load_iris()

In [287]:
print(data.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

|details-start|
**References**
|details-split|

- Fisher, R.A. "The use of multiple measurements in taxonomic problems"
  Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
  Mathematical Statistics" (John Wiley, NY, 1950).
- Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
  (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
- Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
  Structure and Classification Rule for Recognition in Partially Exposed
  Environments".  IEEE Transactions on Pattern Analysis and Machine
  Intelligence, Vol. PAMI-2, No. 1, 67-71.
- Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
  on Information Theory, May 1972, 431-433.
- See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
  conceptual clustering system finds 3 classes in the data.
- Many, many more ...

|details-end|

In [288]:
column_names = data.feature_names

In [289]:
df = pd.DataFrame(data['data'],columns=column_names)

In [290]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [291]:
target = pd.DataFrame(data.target)

In [292]:
data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [293]:
data['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [294]:
# Your code here :
X = df
y = target
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [295]:
# Your code here :
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)
y_pred_train = model.predict(X_train)
y_pred_test = model.predict(X_test)

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [296]:
# Your code here :
from sklearn.metrics import accuracy_score
accuracy_train = accuracy_score(y_train, y_pred_train)
accuracy_test = accuracy_score(y_test, y_pred_test)
print(f'Accuracy for training set: {accuracy_train}')
print(f'Accuracy for testing set: {accuracy_test}')

Accuracy for training set: 0.9555555555555556
Accuracy for testing set: 1.0

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [297]:
# Your code here :
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_train = balanced_accuracy_score(y_train, y_pred_train)
balanced_accuracy_test = balanced_accuracy_score(y_test, y_pred_test)
print(f'Balanced accuracy for training set: {balanced_accuracy_train}')
print(f'Balanced accuracy for testing set: {balanced_accuracy_test}')

Balanced accuracy for training set: 0.9573252688172044
Balanced accuracy for testing set: 1.0

## 10. Calculate and print the precision score for both the training and the testing set.

In [298]:
# Your code here :
from sklearn.metrics import precision_score
precision_train = precision_score(y_train, y_pred_train, average='macro')
precision_test = precision_score(y_test, y_pred_test, average='macro')
print(f'Precision for training set: {precision_train}')
print(f'Precision for testing set: {precision_test}')

Precision for training set: 0.9590939824205544
Precision for testing set: 1.0

## 11. Calculate and print the recall score for both the training and the testing set.

In [299]:
# Your code here :
from sklearn.metrics import recall_score
recall_train = recall_score(y_train, y_pred_train, average='macro')
recall_test = recall_score(y_test, y_pred_test, average='macro')
print(f'Recall for training set: {recall_train}')
print(f'Recall for testing set: {recall_test}')

Recall for training set: 0.9573252688172044
Recall for testing set: 1.0

## 12. Calculate and print the F1 score for both the training and the testing set.

In [300]:
# Your code here :
from sklearn.metrics import f1_score
f1_train = f1_score(y_train, y_pred_train, average='macro')
f1_test = f1_score(y_test, y_pred_test, average='macro')
print(f'F1 score for training set: {f1_train}')
print(f'F1 score for testing set: {f1_test}')

F1 score for training set: 0.9575757575757576
F1 score for testing set: 1.0

## 13. Generate confusion matrices for both the training and the testing set.

In [301]:
# Your code here :
from sklearn.metrics import confusion_matrix
confusion_matrix_train = confusion_matrix(y_train, y_pred_train)
confusion_matrix_test = confusion_matrix(y_test, y_pred_test)
print(f'Confusion matrix for training set: {confusion_matrix_train}')
print(f'Confusion matrix for testing set: {confusion_matrix_test}')

Confusion matrix for training set: [[27  0  0]
 [ 0 28  3]
 [ 0  1 31]]
Confusion matrix for testing set: [[23  0  0]
 [ 0 19  0]
 [ 0  0 18]]

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.

In [302]:
# Have fun here !
# Let's compare different models on the same data
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier 
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

# Create a list of models to test
models = [
    ('Logistic Regression', LogisticRegression(random_state=13)),
    ('Decision Tree', DecisionTreeClassifier(random_state=13, max_depth=3)),
    ('Random Forest', RandomForestClassifier(random_state=13, max_depth=5 , n_estimators=100)),
    ('SVM', SVC(random_state=13))
]

In [303]:
all_results_df = pd.DataFrame()

In [304]:
for name, model in models:
    model.fit(X_train, y_train)
    
    # Make predictions
    y_pred_train = model.predict(X_train)
    y_pred_test = model.predict(X_test)
    
    # Store results in a dataframe
    results_df = pd.DataFrame({
        'Model': [name],
        'Train Accuracy': [accuracy_score(y_train, y_pred_train)],
        'Test Accuracy': [accuracy_score(y_test, y_pred_test)],
        'Train Precision': [precision_score(y_train, y_pred_train, average='macro')],
        'Test Precision': [precision_score(y_test, y_pred_test, average='macro')],
        'Train Recall': [recall_score(y_train, y_pred_train, average='macro')],
        'Test Recall': [recall_score(y_test, y_pred_test, average='macro')],
        'Train F1 Score': [f1_score(y_train, y_pred_train, average='macro')],
        'Test F1 Score': [f1_score(y_test, y_pred_test, average='macro')]
    })
    
    # Append results to a global dataframe
    if 'all_results_df' not in globals():
        all_results_df = results_df
    else:
        all_results_df = pd.concat([all_results_df, results_df], ignore_index=True)

In [305]:
all_results_df

,Model,Train Accuracy,Test Accuracy,Train Precision,Test Precision,Train Recall,Test Recall,Train F1 Score,Test F1 Score
0,Logistic Regression,0.955556,1.000000,0.959094,1.000000,0.957325,1.000000,0.957576,1.000000
1,Decision Tree,0.966667,0.983333,0.968414,0.983333,0.968414,0.981481,0.968254,0.981929
2,Random Forest,1.000000,0.983333,1.000000,0.983333,1.000000,0.981481,1.000000,0.981929
3,SVM,0.955556,1.000000,0.959094,1.000000,0.957325,1.000000,0.957576,1.000000